<% @title = '注文内容' %>
<h1><%= @title %></h1>

<div class="main">
  <strong><h2>※ご注文ありがとうございました。</h2></strong>
  <strong><h2>※送料はお客様にて負担願います。</h2></strong>
  <h2>注文数 <%= @a %> kg</h2>
  <h2>購入金額　 <%= number_with_delimiter(@b) %> 円（税込み）</h2>
  <h2>振込先</h2>
  <p>ゆうちょ銀行　　　　　<br>記号：１１２００　　　<br>番号：３２０２９１８１</p>
  <h2>他行からは</h2>
  <p>店名：一二八支店（店番１２８）<br>口座：普通３２０２９１８　　　<br>　　　　　　口座名義：藤由　亮（フジヨシアキラ）　　　</p>
  <strong><h2>入金完了後はTOPページの入金完了ボタンをクリック<br>してください。入金確認後、商品を発送いたします。</h2></strong>
  <strong><h2>上記内容と発送予定日を後日メール送信いたします。<br>注文履歴は注文履歴ページで確認してください。　　</h2></strong>
</div>

<p></p>
  <div class="main">
    <div class="links">
      <%= link_to(image_tag("top.png", size: "60*60", alt: 'TOPページへ', align: "top"), :customer_root) %>
    </div>
  </div>
