<% @title = '購入金振込口座' %>
<h1><%= @title %></h1>

<div class="main">
  <h2>振込先</h2>
  <p>ゆうちょ銀行　　　　　<br>記号：１１２００　　　<br>番号：３２０２９１８１</p>
  <h2>他行からは</h2>
  <p>店名：一二八支店（店番１２８）<br>口座：普通３２０２９１８　　　<br>口座名義：フジヨシアキラ　　　</p>
  
  <div class="links">
    <%= link_to '戻る', :new_visitor_customer %>
  </div>
</div>