<% @title = '藤由農園紹介ページ' %>
<h1><%= @title %></h1>

<div class="main">
  <div class="">
    <h2>藤由農園</h2>
  </div>
  <p>新潟県新潟市内の自社農場で栽培された各種枝豆を販売しております。<br>特に新潟県特産品でＧＩ登録された「くろさき茶豆」は新潟県内でもな<br>かなか手に入らない一品です。丹精込めて栽培した美味しい枝豆を朝取<br>りし新鮮な物をクール宅急便で全国にお届けいたします。　　　　　　     
  </p>

  <div class="">
    <h2>企業紹介</h2>
  </div>
  <p>創業：昭和２０年創業　　　　　　　　　　　　〒950－1121</p>
  <p>登録：越後中央農協組合員　　　　　新潟県新潟市西区板井594</p>
    <p>農法：減減栽培・有機農法採用　　　　　　　　　　　藤由農園</p>
  <p>代表　藤由　亮　　　　</p>
  <p>ＴＥＬ：025－377－3270</p>
  <p>携帯：090－5332－2431</p>
  <p>e-mail:xc543335@jb4so-net.ne.jp</p>
  <div class="mame">
    <%= image_tag("mame5.png", size: "60*60", alt: "枝豆", align: "top") %>
  </div>
  <p>ＧＩ表示は地理的表示（ＧＩ）保護制度に登録された名産品にのみ表示が許されます。　　　<br>平成１９年４月２１日に国の地理的表示（ＧＩ）保護制度に新潟県で初めて登録されました。</p>

  <div class="">
    <h2><%= image_tag("gi.png", size: "60*60", alt: "枝豆", align: "top") %>地理的表示（ＧＩ）保護制度とは</h2>
  </div>
  <p>地理的表示（ＧＩ）保護制度とは、地域で長年育まれた特別な生産方法で、高い品質と<br>評価を獲得している農産地・農林水産物・食品の名称を品質の基準とともに登録し　　<br>知的財産として保護するものです。　　　　　　　　　　　　　　　　　　　　　　　</p>

  <div class="links">
    <%= link_to '戻る', :customer_root %>
  </div>
</div>